.terraform*
err*
lambda*.zip
secrets_*.zip
*.tfstate*
tfplane
.env
__pycache__
github.com
yara_python-4*
yara.cpython*
binary_yara_rules.bin
yara.so
yara_python-3.6.3.egg-info/
libpython3.5*
yara_python.zip
